@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(168, 167, 167);
}
$darkLeft: 2px;
$lightLeft: 52px;

@media only screen and (max-width: 768px) {
  $darkLeftMobile: 0px;
  $lightLeftMobile: 25px;
}
